<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<title>Rails Item-Location-Category</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
  </head>
<body>
  <div id='header'>
      <h1><%= html_header %></h1>
  </div>
  <div id='sidebar'>
      <h1>Links</h1>
      <ul>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "New Item", new_item_path %></li>
	<li><%= link_to "New Location", new_location_path %></li>
	<li><%= link_to "New Category", new_category_path %></li>
      </ul>
  </div>
  <div id='main'>
  <%= yield %>
  </div>
  <div id='footer'>
    <h1><%= Time.now %></h1>
  </div>
  </body>

</html>
